@media only screen and (orientation:landscape) {

  table#speelveld { width:40vw; height:40vw; border-spacing:1vh;}

  td.inactive { background-color:red,  !important ; color:red, !important }

  td.active { background-color:green, !important }

  td.found{ background-color:blue, !important;  cursor:default, !important; }

}


@media only screen and (orientation:portrait) {

  table#speelveld { width:40vw; height:40vw; border-spacing:1vw; background-color: brown}